<% content_for :js do %>
  <%= javascript_include_tag 'kinetic-v4.5.4.js' %>
  <%= javascript_include_tag 'simulation.js' %>
  <%= javascript_include_tag 'game.js' %>
<% end %>
<p><button id="stop" onclick="sim.toggle()" class='btn btn-primary'>Start</button>
  <button id='reset' onclick="sim.reset()" class='btn'>Reset</button>
  </p>
<div id='playground'></div>
  
  <h3>Directions</h3>
  <ul>
    <li>Drag positive or negative charges onto the playing field</li>
    <li>Press "Toggle" to start or stop the simulation</li>
    <li>Press "Reset" to return the puck to the starting position</li>
    <li>Try to guide the puck to the green goal</li>
  </ul>
<div class='modal hide fade' id='win-modal'>
  <div class='modal-header'>
    <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>&times;</button>
    <h3>You Won!</h3>
  </div>
  <div class='modal-body'>
    <p>Congratulations! You successfully hit the goal!</p>
    <p>It only took you <span id='attemps' class='attempts'>0</span> attempts!</p>
  </div>
  <div class='modal-footer'>
    <a href='#' class='btn btn-primary' data-dismiss='modal'>Close</a>
  </div>
  <div>
</div>

  <script type='text/javascript'>
    var sampleLevel = {
      "name": "Level Name",
      "width" : 800,
      "height" : 450,
      "goal" : {
        "x": 775,
        "y": 175,
        "width": 25,
        "height": 100
      },
      "backgroundUrl": "img/bg-2.png",
      "puckPosition" : {
        "x" : 100,
        "y": 50
      },
      "fixedCharges": [],
      "startingCharges" : [1,-1,1,-1,1,-1]
    };


    var sim = null;

    EFH.createGame({
      container: 'playground',
      width: 900,
      height: 450,
      puck : {
        x: 300,
        y: 150
      },
      mapURL : "img/bg-1.png"
    }, function( game ) {
      sim = game;
      sim.init( sampleLevel );
      sim.on('win', function() {
        ga('send', 'event', 'Game Play', 'Win', 'Sample');
        $('#win-modal').modal();
      });
    });
    </script>