.nav .icon-chevron-right {
	float: right;
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
.form-image { border: 1px solid black; }
.attempt-count{ font-size: 1.2em;}
footer {
	text-align: center;
}

.level-thumbnail {
	margin-right: 5px;
	max-width: 200px;
	max-height: 200px;
	text-align: center;
}

.level-thumbnail img {
	border: 1px solid black;
	background-color: white;
}
/*
li.level-list {
	padding: 10px;
	list-style-type: none;
}

li .level-details {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}*/

.level-list .level-name {
	margin: 2px;
}

.level-list-item {
	display:inline-block;
	margin: 10px;
}

.level-actions {
	float:right;
	margin-top: 2px;
}

.level-list