.nav .icon-chevron-right {
	float: right;
}

.form-image { border: 1px solid black; }
.attempt-count{ font-size: 1.2em;}
footer {
	text-align: center;
}

.level-thumbnail {
	border: 1px solid black;
	margin-right: 5px;
	max-width: 200px;
	max-height: 200px;
	display: inline-block;
}

li.level-list {
	padding: 10px;
	list-style-type: none;
}

li .level-details {
	display: inline-block;

}