.nav .icon-chevron-right {
  float: right;
}
.field_with_errors {
  @extend .control-group;
  @extend .error;
 }
 
.form-image { border: 1px solid black; }
.invisible {
  visibility: none;
}
.attempt-count{ font-size: 1.2em;}
footer {
  text-align: center;
}

.level-thumbnail {
  margin-right: 5px;
  max-width: 200px;
  max-height: 200px;
  text-align: center;
}

.level-thumbnail img {
  border: 1px solid black;
  background-color: white;
}
/*
li.level-list {
  padding: 10px;
  list-style-type: none;
}

li .level-details {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}*/

.level-list .level-name {
  margin: 2px;
}

.level-list-item {
  display:inline-block;
  margin: 10px;
}

.level-list-item .badge {
  margin-bottom: 5px;
}

.level-actions {
  float:right;
  margin-top: 2px;
}

.level-edit-link {
  font-size: 0.8em;
}

.scoreboard-link {
  float: right;
}

.created-by {
  margin-bottom: 7px;
  margin-top: -7px;
}

.replay-by {
  margin-bottom: 7px;
  margin-top: -7px;
}

.pad-for-tray {
  margin-left: 100px;
}

#tray-spacer {
  width: 100px;
  margin: 0 0 0 0;
  display: inline-block;
}

.step-2 {
  float: left;
}

.step-2 input {
  width: 20px;
}

.editor-controls {
  margin-top: 0.5em;
}

#editor #drawingboard {
  margin-left: 100px;
}

#editor #kinetic {
  margin-top: 35px;
  margin-left: 100px;
}

#game {
  margin-top: 35px;
}

.charge-label {
  height: 30px;
}

.align-center {
  text-align: center;
}

.align-center img {
  display: inline-block;
  vertical-align: text-bottom;
}
