<hr />
<footer>
  <div class='container'>
    <p>
      <a href='http://www.mattburkedev.com' target='_blank'>Matt Burke</a> &copy; 2013 
      &middot; <a href='http://twitter.com/akatakritos/' title='@akatakritos'>Twitter</a>
      &middot; <a href='https://github.com/akatakritos/'>Github</a>
    </p>
  </div>
</footer>