<div class='navbar'>
  <div class='navbar-inner'>
  <%= link_to 'Electric Field Hockey', root_path, :class => 'brand' %>
  <ul class='nav pull-right'>
      <li><%= link_to 'Playground', "/playground.html" %></li>
  </ul>
  </div>
</div>