<% @title = "Internal Error" %>

<h1>Oops! Something went wrong!</h1>
<p>Something broke while trying to load the page you requested</p>

<h3>Don't worry, it wasn't your fault.</h3>
<p>Sometimes things happen! The details of the problem have been reported and we'll be taking a look as soon as we can.</p>

<p>
  <%= link_to "Get Me Out Of Here!", root_path, :class => "btn btn-primary" %>
</p>

